backend/privai_django/__init__.py
backend/privai_django/__pycache__
backend/auth_app/migrations
backend/auth_app/__pycache__
venv
.env
backend/template
backend/template/documents
backend/media
backend/document_app/__pycache__
backend/document_app/__init__.py
backend/document_app/migrations