backend/privai_django/__pycache__
backend/auth_app/__pycache__
backend/feedback_app/__pycache__
backend/vector_engine/__pycache__
backend/document_app/__pycache__
**/__pycache__/
*.pyc
venv
.env
backend/media
*.sqlite3
backend/chroma_db/
stderr.txt
stdout.txt
